<section class="property-binding">

    <article>
        <h3>Interpolacao</h3>
        <p>loren: {{ url }}</p>
        <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
        <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }}</p>
        <p>Curso de angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
    </article>

    <article>
        <h3>Property Binding</h3>
        <img src="{{ urlImagem }}">
        <img [src]="urlImagem">
    </article>

    <article>
        <h3>Class e Style Binding</h3>
        <div>
            Selecione uma classe
            <select name="" id="">
                <option value="alert-sucess">Sucesso</option>
                <option value="alert-sucess">Sucesso</option>
                <option value="alert-sucess">Sucesso</option>
                <option value="alert-sucess">Sucesso</option>
            </select>
        </div>
    </article>

</section>